.register-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.register-form {
    display: flex;
    flex-direction: row;
    align-items: center;
}