<div class="login-container">
  <div class="response" *ngIf="loginResponse">
    <p>{{loginResponse}}</p>
  </div>
  <form class="login-form" (ngSubmit)="onSUbmit()" >
    <h1>Welcome</h1>
    <label for="username">Username: </label>
    <input type="text" name="username" placeholder="username" [(ngModel)]="username"/>
    <label for="password">Password: </label>
    <input type="password" [(ngModel)]="password" name="password" placeholder="password"/>
    <button class="login-button" type="submit">Login</button>
    <p>
      Don't have an account? <a routerLink="register">Register</a>
    </p>
  </form>
</div>
